$firstcolor:#010112;
$secondcolor:#1e2d3d;
$thirdcolor:#7aadf9d7;
$alpha-secondcolor:rgba(30, 45, 61, 0.8);
$fontcolor:#fff;
$biofontcolor:#ffa500;
$firstfont:"consolas", "monospace";
$secondfont: "M PLUS 1 Code Thin", "M PLUS 1 Code", "monospace";
$iconsfont:"icons";

@font-face {
    font-family: "inconsolata";
    src: local("inconsolata"),
        url ("./assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
    font-weight: 100 900;
}

@font-face {
    font-family: "M PLUS 1 Code";
    src: local("M PLUS 1 Code") url ("./assets/fonts/MPLUS1Code-VariableFont_wght.ttf");
    font-weight: 100 900;
}

@font-face {
    font-family: "Consolas";
    src: local("Consolas") url ("./assets/fonts/CONSOLA.ttf");

}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;

}

body {
    background-color:$firstcolor;
    color:$fontcolor;
    font-family:$firstfont;
}


a {
    text-decoration: none;
    color:$fontcolor;
}

@keyframes anima {
    50% {transform: rotate(360deg);
        transition-duration: 10s;
        transition-delay: 2s;}
    
}

@keyframes bio {
    0% {
        color: #fff;
    }

    25% {
        color: orange;
    }

    50% {
        color: orange;
    }

    75% {
        color: #fff;
    }
}
